<div class="login-status-header">

    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Sign in</button>

    <div *ngIf="isAuthenticated" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Hi {{ userFullName }}!
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item" routerLink="/order-history">Orders History</a></li>
          <li><a class="dropdown-item" routerLink="/members">Members Special</a></li>
          <li><hr class="dropdown-divider"></li> 
          <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
        </ul>
      </div>

</div>