.login-status-header{
    float:right;
}

.security-btn{
    position:relative;
    float:right;
    right:0;
    min-width:95px;
    height: 44.4px;
    color:#fff;
    font-weight: 500;
    border:2px solid #000000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:2px;
    background:#000000;
}
.security-btn:hover{
    color:rgb(0, 0, 0);
    border:2px solid #000000;
    background:#0d6efd
}

.login-status-user-info{
    
    color:#fff;
    float:left;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex
}


.login-status-user-info {
    line-height:43px;
    border:1px;
    padding:0px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    -moz-transition:all .5s ease;
    transition:all .5s ease
}